---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Autonomo",
    company: "Freelance",
    description:
      "Desarrollar y mantener aplicaciones web. Implementar soluciones backend utilizando Node.js y Nest.js. Utilizar Git para el control de versiones y colaboración en GitHub.",
    link: "https://www.workana.com/freelancer/d62c3abf2df8e806055c60b0e6f9763a",
  },
  {
    date: "Actualmente...",
    title: "Director de Ventas Online",
    company: "Herrajes Kramar",
    description:
    "Responsable de la plataforma, componentes y utilidades para la compañia. Mejora de un 30% en las ventas totales. Implantación de medidas de integración continua",
    link: "https://www.kramarherrajes.com/",
  },{
    date: "Diciembre 2022 – Abril 2023",
    title: "Software Quality Assurance Tester",
    company: "uTest",
    description:
    "Realizar pruebas de calidad de software para importantes clientes como Payoneer, Diseñar y ejecutar casos de prueba para asegurar la funcionalidad, usabilidad y rendimiento de aplicaciones.",
    },
    {
    date: "Noviembre 2021 – Diciembre 2022",
    title: "Software Quality Assurance Tester",
    company: "UPEX",
    description:
    "Realizar pruebas de calidad de software para asegurar la funcionalidad, usabilidad y rendimiento de las aplicaciones. Diseñar y ejecutar casos de prueba manuales y automatizados.",
    },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
