---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Portfolio">
	<main>
		<h1 class="text-white">Hey, soy Geronimo <Badge>Disponible para trabajar</Badge></h1>
		<h2>Desarrollador web FullStack y Creador de Contenido web. Buenos
			Aires Argentina. Especializado en crear aplicaciones unicas.
		</h2>
	</main>
</Layout>


